

<div id='container'>
    <div id='world'></div>
    <div id="trainer"></div>
</div>




<!-- Audio options -->
<audio id="audio1" src="../../assets/audio/pkmon1.mp3" type="audio/mpeg"></audio>
<audio id="audio2" src="../../assets/audio/pkmon2.mp3" type="audio/mpeg"></audio>
<audio id="audio3" src="../../assets/audio/pkmon3.mp3" type="audio/mpeg"></audio>
<audio id="audio4" src="../../assets/audio/pkmon4.mp3" type="audio/mpeg"></audio>
<audio id="audio5" src="../../assets/audio/pkmon5.mp3" type="audio/mpeg"></audio>
