
<div class="body">
    <div id="header">
        <img id="nodemon" src="../../assets/imgs/pokemon1.webp" width="2" height="1"  alt="adfas">
        
    </div>
    <main>
        <div id="menu" style="width: 300px; height: 75px">
            
            <h2><a href="/map" class="hidden" class="wordFlash">Click to start</a></h2>
        </div>
    </main>

    <!-- Audio options -->
    <audio id="audio1" src="../../assets/audio/pkmon1.mp3" type="audio/mpeg"></audio>
    <audio id="audio2" src="../../assets/audio/pkmon2.mp3" type="audio/mpeg"></audio>
    <audio id="audio3" src="../../assets/audio/pkmon3.mp3" type="audio/mpeg"></audio>
    <audio id="audio4" src="../../assets/audio/pkmon4.mp3" type="audio/mpeg"></audio>
    <audio id="audio5" src="../../assets/audio/pkmon5.mp3" type="audio/mpeg"></audio>
</div>











